<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember">
		insert into
			member
		values(
			#{id},
			#{password},
			#{name},
			#{gender},
			#{birthday},
			#{email},
			#{phone},
			#{address},
			#{hobby},
			default,
			default
		)
		<!--  enroll_date, enabled컬럼은 기본값 처리 -->
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select *
		from member
		where id = #{id}
	</select>
	
	<update id="updateMember">
		update member
		set
			name = #{name},
			birthday = #{birthday},
			email = #{email},
			phone = #{phone},
			address = #{address},
			hobby = #{hobby}
		where id = #{id}
	</update>
	
	<delete id="deleteMember">
		delete from member
		where id = #{id}
	</delete>
  
</mapper>

<!-- 2021.06.14 시험용 임시 쿼리 -->
<!-- <mapper namespace="deptmapper">
	<select id="selectList" resultType="deptDto">
		select deptno, dname, loc
		from dept
	</select>
</mapper> -->

<!-- 2021.06.15 시험용 임시 쿼리 -->
<select id="findActiveBlogLike" resultType="Blog">
	select * from blog
	where state = 'ACTIVE'
	<choose>
		<when test="title != null">
			and title like '%' || #{title} || '%'
		</when>
		<when test="author != null and author.name != null">
			and author like '%' || #{author.name} || '%'
		</when>
		<otherwise>
			featured == 1
		</otherwise>
	</choose>
</select>